/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*VARIABLES CSS */
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HEX*/
  /* --hue: 152; */
  --first-color: #3CB34B;
  --first-color-alt: #1D0E0D;
  --first-color-light: #ACAC9C;
  --first-color-lighten: #C3A995;
  --title-color: #3A5743;
  --text-color: #32352D
  --text-color-light:#6D6464; 
  --body-color: #FFF;
  --container-color: #EDE7DE;

  /*===== Font and typography =====*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*===== Margin Bottom =====*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*===== z index =====*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behvaior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
}

/*===== THEME =====*/
/* Variables Dark theme */
/* Button Dark/Light */


/* 
Color changes in some parts of 
the website, in dark theme 
*/


/*===== REUSABLE CSS CLASSES =====*/


/*===== HEADER =====*/
/*===== NAV =====*/

/*===== HOME =====*/

/*===== BUTTONS =====*/

/*===== ABOUT =====*/

/*===== STEPS =====*/

/*===== PRODUCTS =====*/

/*===== QUESTIONS =====*/

/*===== CONTACT =====*/

/*===== FOOTER =====*/

/*===== SCROLL UP =====*/

/*===== SCROLL BAR =====*/

/*===== MEDIA QUERIES=====*/
/* For small devices */

/* For medium devices */

/* For large devices */
